<ul class="header-subnav">
    {% if class_room %}
        <li><a class="{{ "is-active" if active == "classroom" }}" href="{{ url_for("teacher_view_classroom", key=class_room.key()) }}">{{ class_room.name }}</a></li>
    {% endif %}
    {% if page_title %}
        <li><a class="{{ "is-active" if active == "page" }}" href="#" >{{ page_title }}</a></li>
    {% endif %}
    <li><a class="{{ "is-active" if active == "dashboard"}}" href="{{ url_for("dashboard") }}">{{ loc.get_text("dashboard", lan) }}</a></li>
</ul>

