<html>
    <body>
        <p>
            You recently sign up for an <a href="http://crplus.net">ClassRoom+ Account</a> we require that you verify your email address.
        </p>
        <br/>
        <a href={{ url }}>
            <div style="background-color:#3079ed;color:white;padding:10px 14px;display:inline-block;font-size:11px;font-weight:bold;text-align:center;border-radius:2px" ><span class="lG">Verify</span> My <span class="lG">Email</span> Address</div>
        </a>
        <br/><br/>
        <p>
            See you online,<br/>ClassRoom+ Team
        </p>
    </body>
</html>