{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>

{% endblock %}
{% block content %}
    <div class="row">
        <div class="small-10 large-7 medium-10 columns small-centered">
            <div class="row text-center">
                <div class="columns small-12">
                    <a href="{{ url_for('teacher_create_classroom') }}" class="button identity expanded">
                        <h3>{{ loc.get_text("create_classroom", lan) }}</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-10 large-7 medium-10 columns small-centered text-center">
            <br/>
            <h2 class="info">{{ loc.get_text("enter_a_classroom", lan) }}</h2>
            <br/>
        </div>
    </div>
    {% for class_room in class_rooms %}
        <div class="row">
            <div class="small-10 large-7 medium-10 columns small-centered">
                <div class="row text-center">
                    <div class="columns small-12">
                        <a href="{{ url_for("teacher_view_classroom", key=class_room.key()) }}" class="button identity expanded">
                            <h5>{{ class_room.name }}</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}

