{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <form id="login" action="{{ url_for('login') }}" method=post>
        <div class="row">
            <div class="small-10 large-7 medium-10 columns small-centered text-center">
                <br/>
                    <h2 class="info">{{ loc.get_text("teacher_login", lan) }}</h2>
                <br/>
            </div>
        </div>
        <div class="row">
            <div class="small-10 large-7 medium-10 columns small-centered">
                <div class="row ">
                    <div class="columns small-12">
                        <h4>{{ loc.get_text("username", lan) }}</h4>
                        <input name="username" type="text" placeholder="{{ loc.get_text("username", lan) }}" required />
                    </div>
                    <div class="columns small-12">
                         <h4>{{ loc.get_text("password", lan) }}</h4>
                        <input name="password" type="password" placeholder="{{ loc.get_text("password", lan) }}" required/>
                    </div>
                    <div class="columns small-12 text-center">
                        <button id="loginButton" type="submit" class="submitButton button expanded large">{{ loc.get_text("login", lan) }}</button>
                        <input id="remember_me" name="remember_me" type="checkbox"><label for="remember_me">{{ loc.get_text("remember_me", lan) }}</label>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}