{% extends "layout.html" %}
{% block title %}{{ loc.get_text("create_classroom", lan) }}{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <form id="createClassRoom" autocomplete="off" action="{{ url_for('student_view_classroom') }}" method="post">
        <div class="row">
            <div class="small-10 large-7 medium-10 columns small-centered text-center">
                <br/>
                <h2 class="info">{{ loc.get_text("enter_a_classroom", lan) }}</h2>
                <br/>
            </div>
        </div>
        {% if error == True %}
            <div class="row">
                <div class="small-10 large-7 medium-10  columns small-centered">
                    <div class="callout alert">
                        {{ loc.get_text("input_error", lan) }}
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="small-10 large-7 medium-10 columns small-centered">
                <div class="row">
                    <div class="columns small-12">
                        <h4>{{ loc.get_text("class_access_code", lan) }}:</h4>
                        <input id="access_code" name="access_code" autocomplete="new-password" type="number" required placeholder="Class Access Code"  />
                    </div>
                </div>
                 <div class="row">
                    <div class="columns small-12">
                        <h4>{{ loc.get_text("student_pin", lan) }}:</h4>
                        <input id="pin" name="pin" autocomplete="new-password" type="number" required placeholder="Student Pin" />
                    </div>
                </div>
                <div class="row">
                    <div class="columns small-12 text-center">
                        <button id="create" type="submit" class="submitButton button expanded large">{{ loc.get_text("enter", lan) }}</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}