{% extends "layout.html" %}
{% block title %}{{ loc.get_text("class_room_view", lan)  }}{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    {% include "class_room_title.html" %}
    <div class="row">
        <div class="small-10 large-7 medium-10 columns small-centered">
            <div class="row">
                <h3 class="info text-center">{{ loc.get_text("welcome", lan)  }} {{ student.name }}</h3>
                <br/><br/>
                <br/>
                <h3 class="text-center">{{ loc.get_text("quizzes", lan)  }}</h3 >
                <br/>
                    {% include "student_quiz_list.html" %}
                <br/>
                <h3 class="text-center">{{ loc.get_text("polls", lan)  }}</h3>
                <br/>
                    {% include "student_poll_list.html" %}
                <br/>
                <br/>
            </div>
        </div>
    </div>
{% endblock %}