{% extends "layout.html" %}
{% block title %}{{ loc.get_text("create_classroom", lan) }}{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}


{% block content %}
 <div class="row">
     <div class="small-12 large-7 medium-10 columns small-centered text-center">
         {% if(student_answered) %}
            <div class="callout alert">
               <h2>{{ loc.get_text("problem_occurred", lan) }}</h2>
                <h4>{{ loc.get_text("quiz_already_taken", lan) }}</h4>
            </div>
         {% else %}
            <div class="callout success">
                <h2>{{ loc.get_text("thanks", lan)  }}</h2>
                 <h4>{{ loc.get_text("quiz_completed", lan) }}</h4>
            </div>
         {% endif %}
     </div>
</div>
{% endblock %}
