{% if(class_room.get_active_quizzes() == []) %}
    <div class="row">
        <div class="callout alert">
            <p>No {{ loc.get_text("active_quizzes", lan) }}</p>
        </div>
    </div>
{% else %}
    <div class="row callout">
        <div class="columns small-12">
            <div class="row">
                <div class="columns small-6">
                    <h6><strong>{{ loc.get_text("quiz_title", lan) }}</strong></h6>
                </div>
                <div class="columns small-6">
                </div>
            </div>
            {% for quiz in class_room.get_active_quizzes() %}
                <div class="row">
                    <div class="columns small-6">
                          <h6>{{ quiz.title }}</h6>
                    </div>
                    <div class="columns small-3 large-2 text-right">
                        {% if quiz.has_this_student_answered(student) %}
                           <button class="button" disabled style="background:darkgreen; color:white">{{ loc.get_text("completed", lan) }}</button>
                        {% else %}
                            <a class="button" href="{{ url_for("student_take_quiz", quiz_key=quiz.key(), student_key=student.key()) }}">{{ loc.get_text("go", lan) }}</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif%}