{% extends "layout.html" %}
{% block title %}{{ loc.get_text("create_classroom", lan) }}{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% if success %}
     <div class="row">
         <div class="small-12 large-5 medium-8 columns small-centered text-center">
            <h1>Poll Created Successfully</h1>
         </div>
    </div>
{% else %}
    {% block content %}
        <form id="createPoll" autocomplete="off" action="{{ url_for('teacher_create_poll') }}"  method="post">
            <div class="row">
                <div class="small-10 large-5 medium-8 columns small-centered text-center">
                    <br/>
                    <h2 class="info">{{ class_room.name }}</h2>
                    <br/>
                </div>
            </div>
            <div class="row">
                <div class="small-10 large-5 medium-8 columns small-centered">
                    <div class="row">
                        <div class="columns small-12">
                            <h4>Time Left:</h4>
                            <h3 id="time_left">{{ poll.time_left }}</h3>

                        </div>

                        <div class="columns small-12">
                            <h4>Q: {{ poll.question }}</h4>
                        </div>

                        <div class="columns small-12">
                            {% for option in poll.options %}
                                 <input type="checkbox" name={{ option }} value={{ option }}> {{ option }}<br>
                            {% endfor %}
                        </div>

                        <div class="columns small-12 text-center">
                            <a id="create" type="submit" class="submitButton button expanded" ><h3>Submit</h3></a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    {% endblock %}
{% endif %}