{% if(class_room.get_active_polls() == []) %}
    <div class="row">
        <div class="callout alert">
            <p>Currently there are not <strong>active</strong> polls in this Class Room.</p>
        </div>
    </div>
{% else %}
    <div class="row callout">
        <div class="columns small-12">
            <div class="row">
                <div class="columns small-6">
                    <h6><strong>Question</strong></h6>
                </div>
                <div class="columns small-6">
                </div>
            </div>
            {% for poll in class_room.get_active_polls() %}
                <div class="row">
                    <div class="columns small-6">
                        <h6>{{ poll.question }}</h6>
                    </div>
                    <div class="columns small-3 large-2 text-right">
                         {% if poll.has_this_student_answered(student) %}
                           <button class="button" disabled style="background:darkgreen; color:white">Completed</button>
                        {% else %}
                            <a class="button" href="{{ url_for("student_take_poll", poll_key=poll.key(), student_key=student.key()) }}">Go</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif%}