<div class="row">
    <div class="columns small-12 centered">
        <h4 class="subheader">Active Quizzes</h4>
    </div>
</div>
{% if(class_room.get_active_quizzes() == []) %}
    <div class="row">
        <div class="callout alert">
            <p>Currently there are not <strong>active</strong> quizzes in this Class Room.</p>
        </div>
    </div>
{% else %}
    <div class="row callout">
        <div class="columns small-12">
            <div class="row">
                <div class="columns small-4 large-5">
                    <h6><strong>Quiz Title</strong></h6>
                </div>
                <div class="columns small-3 large-4">
                    <h6><strong>Answered</strong></h6>
                </div>
                <div class="columns small-5 large-3">
                </div>
            </div>
            {% for quiz in class_room.get_active_quizzes() %}
                <div class="row">
                    <div class="columns small-4 large-5">
                        <h6>{{ quiz.title }}</h6>
                    </div>
                    <div class="columns small-3 large-4">
                        {%  if (quiz.completed()) %}
                            <h6><small>Completed with ({{ quiz.get_total_answered() }})</small></h6>
                        {%  else %}
                            <h6>{{ quiz.get_total_answered() }}</h6>
                        {%  endif %}
                    </div>
                    <div class="columns small-5 large-3 text-right">
                        <div class="columns small-6">
                            <a class="button small" href="{{ url_for("teacher_view_quiz", key=quiz.key()) }}">View</a>
                        </div>
                        <div class="columns small-6">
                            <a class="button small" href="{{ url_for("teacher_create_quiz", quiz_key=quiz.key(), classroom_key=quiz.class_room.key()) }}">Edit</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif%}
<div class="row">
    <div class="columns small-12 centered">
        <h4 class="subheader">Closed Quizzes</h4>
    </div>
</div>
{% if(class_room.get_closed_quizzes() == []) %}
    <div class="row">
        <div class="callout alert">
            <p>Currently there are not <strong>closed</strong> quizzes in this Class Room.</p>
        </div>
    </div>
{% else %}
    <div class="row callout">
        <div class="columns small-12">
            <div class="row">
                <div class="columns small-4 large-5">
                    <h6><strong>Quiz Title</strong></h6>
                </div>
                <div class="columns small-3 large-4">
                    <h6><strong>Answered</strong></h6>
                </div>
                <div class="columns small-5 large-3">
                </div>
            </div>
            {% for quiz in class_room.get_closed_quizzes() %}
                <div class="row">
                    <div class="columns small-4 large-5">
                        <h6>{{ quiz.title }}</h6>
                    </div>
                    <div class="columns small-3 large-4">
                        {%  if (quiz.completed()) %}
                            <h6><small>Completed with ({{ quiz.get_total_answered() }})</small></h6>
                        {%  else %}
                            <h6>{{ quiz.get_total_answered() }}</h6>
                        {%  endif %}
                    </div>
                    <div class="columns small-5 large-3 text-right">
                        <div class="columns small-6">
                            <a class="button small" href="{{ url_for("teacher_view_quiz", key=quiz.key()) }}">View</a>
                        </div>
                        <div class="columns small-6">
                            <a class="button small" href="{{ url_for("teacher_create_quiz", quiz_key=quiz.key(), classroom_key=quiz.class_room.key()) }}">Edit</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif%}