{% extends "layout.html" %}
{% block title %}{{ loc.get_text("create_classroom", lan) }}{% endblock %}
{% block subnav %} {% include "class_room_nav.html" %} {% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}


{% block content %}
    <form id="createClassRoom" autocomplete="off" action="{{ url_for('teacher_view_poll') }}" method="post">
        {% include "class_room_title.html" %}
        <div class="row">
            <div class="small-10 large-7 medium-8 columns small-centered text-center">
                <h1></h1>
                <div class="row">
                    <div class="columns small-12 text-center">
                        <h4>{{ loc.get_text("question", lan) }}:</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="columns small-12 callout">
                        <h5>{{ poll.question }}</h5>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="columns small-6">
                        <h5>{{ loc.get_text("class_access_code", lan) }}:</h5>
                    </div>
                    <div class="columns small-6" >
                        <h5>{{ poll.class_room.access_code }}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="columns small-6">
                        <h5>{{ loc.get_text("status", lan) }}:</h5>
                    </div>
                    <div class="columns small-6" >
                        <h5>
                            {%  if (poll.completed()) %}
                                Completed
                            {%  else %}
                                Active
                            {%  endif %}
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="columns small-6">
                        <h5>{{ loc.get_text("answered", lan) }}:</h5>
                    </div>
                    <div class="columns small-6" >
                        <h5>
                            {{ poll.get_total_answered() }}
                        </h5>
                    </div>
                </div>
                <br/>
                <br/>
                <br/>
                <div class="row">
                    <div class="columns small-12 text-center">
                     <input type="hidden" name="key" value="{{ poll.key() }}">
                        {% if not poll.is_close() %}
                            <button type="submit" class="submitButton button expanded large">{{ loc.get_text("close", lan) }}</button>
                        {% endif %}

                    </div>
                </div>

                {% include "class_room_back.html" %}
            </div>
        </div>
    </form>

{% endblock %}
