{% extends "layout.html" %}
{% block title %}{{ loc.get_text("create_classroom", lan) }}{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <form id="createClassRoom" autocomplete="off" action="{{ url_for('teacher_create_classroom') }}" method="post">
        <div class="row">
            <div class="small-10 large-7 medium-10 columns small-centered text-center">
                <br/>
                    <h2 class="info">{{ loc.get_text("create_classroom", lan) }}</h2>
                <br/>
            </div>
        </div>
        <div class="row">
            <div class="small-10 large-7 medium-10 columns small-centered">
                <div class="row">
                    <input name="key" type="hidden" value="{{ class_room.key() if class_room else "false" }}">
                    <div class="columns small-12">
                        <h4>Class Name:</h4>
                        <input name="name" type="text" value="{{ class_room.name if class_room else "" }}" placeholder="Class Name" />
                    </div>
                    <div class="columns small-12">
                         <h4>Students:<small>(Student's name separated by coma)</small></h4>
                         <textarea name="students" placeholder="(Student's name separated by coma)" required rows="10">{{ class_room.students_list_string() if class_room else "" }}</textarea>
                    </div>
                    <div class="columns small-12">
                         <h4>Comments:</h4>
                         <textarea name="comments" placeholder="Class's Comments" rows="5">{{ class_room.comments if class_room else "" }}</textarea>
                    </div>
                    <div class="columns small-12 text-center">
                        <button id="create" type="submit" class="submitButton button expanded large">{{ loc.get_text("save", lan) if class_room else loc.get_text("create", lan) }}</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}