{% extends "layout.html" %}
{% block title %}{{ loc.get_text("account_created_successfully", lan) }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
 <div class="row">
     <div class="small-12 large-7 medium-10 columns small-centered text-center">
         <h3 class="info">{{ loc.get_text("account_created_successfully", lan) }}</h3>
         <br/>
         <div class="row">
            <div class="callout success">
                <h4>{{ loc.get_text("check_your_email", lan) }}</h4>
             </div>
         </div>
         <br/>
         <br/>
     </div>
</div>
{% endblock %}
