<div class="row">
    <div class="columns small-12 centered">
        <h4 class="subheader">{{ loc.get_text("active_polls", lan) }}</h4>
    </div>
</div>
{% if(class_room.get_active_polls() == []) %}
    <div class="row">
        <div class="callout alert">
            <p>No {{ loc.get_text("active_polls", lan) }}</p>
        </div>
    </div>
{% else %}
    <div class="row callout">
        <div class="columns small-12">
            <div class="row">
                <div class="columns small-5 large-5">
                    <h6><strong>{{ loc.get_text("question", lan) }}</strong></h6>
                </div>
                <div class="columns small-4 large-5">
                    <h6><strong>{{ loc.get_text("answered", lan) }}</strong></h6>
                </div>
                <div class="columns small-3 large-2">
                </div>
            </div>
            {% for poll in class_room.get_active_polls() %}
                <div class="row">
                    <div class="columns small-5 large-5">
                        <h6>{{ poll.question }}</h6>
                    </div>
                    <div class="columns small-4 large-5">
                        {%  if (poll.completed()) %}
                            <h6><small>{{ loc.get_text("completed", lan) }} ({{ poll.get_total_answered() }})</small></h6>
                        {%  else %}
                            <h6>{{ poll.get_total_answered() }}</h6>
                        {%  endif %}
                    </div>
                    <div class="columns small-3 large-2 text-right">
                        <a class="button" href="{{ url_for("teacher_view_poll", key=poll.key()) }}">View</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif%}
<div class="row">
    <div class="columns small-12 centered">
        <h4 class="subheader">{{ loc.get_text("closed_polls", lan) }}</h4>
    </div>
</div>
{% if(class_room.get_closed_polls() == []) %}
    <div class="row">
        <div class="callout alert">
            <p>No {{ loc.get_text("closed_polls", lan) }}</p>
        </div>
    </div>
{% else %}
    <div class="row callout">
        <div class="columns small-12">
            <div class="row">
                <div class="columns small-5 large-5">
                    <h6><strong>{{ loc.get_text("question", lan) }}</strong></h6>
                </div>
                <div class="columns small-4 large-5">
                    <h6><strong>{{ loc.get_text("answered", lan) }}</strong></h6>
                </div>
                <div class="columns small-3 large-2">
                </div>
            </div>
            {% for poll in class_room.get_closed_polls() %}
                <div class="row">
                    <div class="columns small-5 large-5">
                        <h6>{{ poll.question }}</h6>
                    </div>
                    <div class="columns small-4 large-5">
                        {%  if (poll.completed()) %}
                            <h6><small>{{ loc.get_text("completed", lan) }} ({{ poll.get_total_answered() }})</small></h6>
                        {%  else %}
                            <h6>{{ poll.get_total_answered() }}</h6>
                        {%  endif %}
                    </div>
                    <div class="columns small-3 large-2 text-right">
                        <a class="button" href="{{ url_for("teacher_view_poll", key=poll.key()) }}">View</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif%}