{% extends "layout.html" %}
{% block title %}{{ loc.get_text("create_poll", lan) }}{% endblock %}
{% block subnav %} {% include "class_room_nav.html" %} {% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block content %}
    <form id="createPoll" autocomplete="off" action="{{ url_for('teacher_create_poll') }}" method="post">
        {% include "class_room_title.html" %}
        <input name="key" type="hidden" value="{{ class_room.key() if class_room else "false" }}">
        <div class="row">
            <div class="small-10 large-7 medium-10 columns small-centered">
                <div class="row">
                    <div class="columns small-12">
                        <h4>{{ loc.get_text("time_allowed", lan) }} <small>{{ loc.get_text("required", lan) }}</small> </h4>
                        <label for="time_allowed">
                            <input name="time_allowed" id="time_allowed" type="number" min="0" max="" step="1" value ="5" required />
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="columns small-12">
                        <h4>{{ loc.get_text("question", lan) }}: <small>{{ loc.get_text("required", lan) }}</small></h4>
                        <textarea name="question" placeholder="{{ loc.get_text("question", lan) }}" rows="3" required ></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="columns small-12">
                        <h5>{{ loc.get_text("types_of_answer", lan) }} </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 small-centered columns button-group toggle text-center" data-toggle="buttons-radio">
                        <input type="radio" id="r1" name="answer_type" value="yes_no" checked data-toggle="button">
                        <label class="button" for="r1">{{ loc.get_text("yes_no", lan) }}</label>
                        <input type="radio" id="r2" name="answer_type" value="free_text" data-toggle="button">
                        <label class="button" for="r2">{{ loc.get_text("free_text", lan) }}</label>
                        <input type="radio" id="r3" name="answer_type" value="multiple" data-toggle="button">
                        <label class="button" for="r3">{{ loc.get_text("multiple", lan) }}</label>
                        <input type="radio" id="r4" name="answer_type" value="single"  data-toggle="button">
                        <label class="button" for="r4">{{ loc.get_text("single", lan) }}</label>
                    </div>
                </div>

                <div class="row">
                    <div class="columns small-12" id="options">
                        <h5>{{ loc.get_text("options", lan) }}</h5>
                        <input name="option[]" type="text" value="" placeholder="{{ loc.get_text("option", lan) }}" />
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 columns" id="optionsActions">
                        <a id="addOption" href="#" class="button small">{{ loc.get_text("add", lan) }}</a>
                        <a id="deleteOption" href="#" class="button small float-right">{{ loc.get_text("delete", lan) }}</a>
                    </div>
                </div>

                <div class="row">
                    <div class="columns small-12 text-center">
                        <button id="create" type="submit" class="submitButton button expanded large" >{{ loc.get_text("save", lan) if class_room else loc.get_text("create", lan) }}</button>
                    </div>
                </div>
                {% include "class_room_back.html" %}
            </div>
        </div>
    </form>
{% endblock %}
