{% extends "layout.html" %}
{% block title %}Class Room View{% endblock %}
{% block subnav %} {% include "class_room_nav.html" %} {% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    {% include "class_room_title.html" %}
    <div class="row">
        <div class="small-10 large-7 medium-10 columns small-centered">
            <div class="row">
                <div class="row">
                    <div class="columns small-4">
                        <h5>Name:</h5>
                    </div>
                    <div class="columns small-8 text-right">
                        <h5>{{ class_room.name }}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="columns small-4">
                        <h5>Comments:</h5>
                    </div>
                    <div class="columns small-8 text-right">
                        <p>{{ class_room.comments }}</p>
                    </div>
                </div>
                <div class="row callout success">
                    <div class="columns small-6">
                        <h5>Access Code:</h5>
                    </div>
                    <div class="columns small-4 text-right">
                        <h5>{{ class_room.access_code }}</h5>
                    </div>
                </div>
                <br/>
                {% if(class_room.students.count() == 0) %}
                    <div class="callout error">
                        There are not students in this Class Room
                    </div>
                {% else %}
                    <div class="row">
                        <div class="columns small-12 centered">
                            <h4 class="subheader">Students</h4>
                        </div>
                    </div>
                    <div class="row callout">
                        <div class="columns small-12">
                            <div class="row">
                                <div class="columns small-5 large-5">
                                    <h5><strong>Name</strong></h5>
                                </div>
                                <div class="columns small-4 large-5">
                                    <h5><strong>Pin</strong></h5>
                                </div>
                                <div class="columns small-3 large-2"></div>
                            </div>

                            {% for student in class_room.students %}
                                <div class="row">
                                    <div class="columns small-5 large-5">
                                        <h6>{{ student.name }}</h6>
                                    </div>
                                    <div class="columns small-4 large-5">
                                        <h6>{{ student.pin }}</h6>
                                    </div>
                                     <div class="columns small-3 large-2 text-right">
                                        <a class="button" href="{{ url_for("teacher_view_student", key=student.key()) }}">View</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                <br/>
                <br/>
                    {% include "teacher_quiz_list.html" %}
                <br/>
                <br/>
                    {% include "teacher_poll_list.html" %}
                <br/>
                <br/>

                <div class="row">
                    <div class="columns small-12 text-center">
                        <a href="{{ url_for("teacher_create_classroom", key=class_room.key()) }}" class="button expanded"><h3>{{ loc.get_text("edit", lan) }}</h3></a>
                    </div>
                    <div class="columns small-12 text-center">
                        <a href="{{ url_for("teacher_create_poll", key=class_room.key()) }}" class="button expanded"><h3>{{ loc.get_text("new_poll", lan) }}</h3></a>
                    </div>
                    <div class="columns small-12 text-center">
                        <a href="{{ url_for("teacher_create_quiz", classroom_key=class_room.key()) }}" class="button expanded"><h3>{{ loc.get_text("new_quiz", lan) }}</h3></a>
                    </div>
                </div>
                <br/><br/>
            </div>
        </div>
    </div>
{% endblock %}