{% extends "layout.html" %}
{% block title %}{{ loc.get_text("create_classroom", lan) }}{% endblock %}
{% block subnav %} {% include "class_room_nav.html" %} {% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}


{% block content %}
    <form id="createClassRoom" autocomplete="off" action="{{ url_for('teacher_view_quiz') }}" method="post">
        {% include "class_room_title.html" %}
        <div class="row">
            <div class="small-10 large-7 medium-8 columns small-centered text-left">
                <div class="row">
                    <div class="columns small-12 text-center">
                        <h3>{{ quiz.title }}</h3>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="columns small-6">
                        <h5>{{ loc.get_text("number_of_questions", lan) }}:</h5>
                    </div>
                    <div class="columns small-6 text-right">
                        <h5>{{ quiz.get_total_questions() }}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="columns small-6">
                        <h5>{{ loc.get_text("status", lan) }}:</h5>
                    </div>
                    <div class="columns small-6 text-right" >
                        <h5>
                            {%  if (quiz.completed()) %}
                                Completed
                            {%  else %}
                                Active
                            {%  endif %}
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="columns small-6">
                        <h5>{{ loc.get_text("answered", lan) }}:</h5>
                    </div>
                    <div class="columns small-6 text-right" >
                        <h5>
                            {{ quiz.get_total_answered() }}
                        </h5>
                    </div>
                </div>
                <br/>
                <br/>
                <div class="row">
                    <h4 class="text-center">{{ loc.get_text("question", lan) }}s</h4>
                </div>
                <br/>
                <div class="row">
                    <div class="columns small-3 large-3">
                        <h6><strong>{{ loc.get_text("question", lan) }}</strong></h6>
                    </div>
                    <div class="columns small-3 large-3">
                        <h6><strong>{{ loc.get_text("type", lan) }}</strong></h6>
                    </div>
                    <div class="columns small-6 large-6 text-right">
                        <h6><strong>{{ loc.get_text("question", lan) }}s</strong></h6>
                    </div>
                </div>
                {% for question in quiz.get_active_questions() %}
                    <div class="row">
                        <div class="columns small-3 large-3">
                            <h6>{{ question.question }}</h6>
                        </div>
                        <div class="columns small-3 large-3">
                            <h6>{{ question.type }}</h6>
                        </div>
                        <div class="columns small-6 large-6 text-right">
                            <h6>{{ question.get_options_description() }}</h6>
                        </div>
                    </div>
                {% endfor %}
            <br/>
            <br/>
            <br/>
            <div class="row">
                <div class="columns small-12 text-center">
                    <input type="hidden" name="key" value="{{ quiz.key() }}">
                    {% if not quiz.is_close() %}
                        <button type="submit" class="submitButton button expanded large">{{ loc.get_text("close", lan) }}</button>
                    {% endif %}
                </div>
            </div>

            {% include "class_room_back.html" %}
        </div>
        </div>
    </form>

{% endblock %}
