{% extends "layout.html" %}
{% block title %}Student Detailed View{% endblock %}
{% block subnav %} {% include "class_room_nav.html" %} {% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}


{% block content %}
    {% include "class_room_title.html" %}
    <div class="row">
        <div class="small-10 large-7 medium-8 columns small-centered text-center">
            <div class="row callout success">
                <div class="columns small-4">
                    <h5>Name:</h5>
                </div>
                 <div class="columns small-8 text-right">
                    <h5>{{ student.name }}</h5>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="columns small-6">
                    <h5>Status:</h5>
                </div>
                <div class="columns small-6 text-right" >
                    <h5>
                       {{ student.status }}
                    </h5>
                </div>
            </div>
            <br/>
            <table>
                <thead>
                    <tr>
                        <th>Question</th>
                        <th>Date</th>
                        <th>Answer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for answer in student.answers %}
                    <tr>
                        <td>
                            <h6>{{ answer.poll.question }}</h6>
                        </td>
                        <td>
                            <h6>{{ answer.created.strftime("%d/%m/%y") }}</h6>
                        </td>
                        <td>
                            <h6>{{ answer.answer }}</h6>
                        </td>
                    </tr>
             {% endfor %}
                </tbody>
            </table>


            <br/>
            <br/>
            {% include "class_room_back.html" %}
        </div>
    </div>

{% endblock %}
