{% extends "layout.html" %}
{% block title %}{{ loc.get_text("create_quiz", lan) }}{% endblock %}
{% block subnav %} {% include "class_room_nav.html" %} {% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block content %}
    <form id="createQuiz" autocomplete="off" action="{{ url_for('teacher_create_quiz') }}" method="post">
        {% include "class_room_title.html" %}
        <div class="row">
            <div class="small-10 large-7 medium-10 columns small-centered">
                <input name="classroom_key" type="hidden" value="{{ class_room.key() if class_room else "false" }}">
                <input name="quiz_key" type="hidden" value="{{ quiz.key() if quiz else "" }}">

                <div class="row">
                    <div class="columns small-6">
                        <h5>{{ loc.get_text("quiz_title", lan) }} <small>{{ loc.get_text("required", lan) }}</small> </h5>
                    </div>
                    <div class="columns small-6">
                        <input name="quiz_title" type="text" required value="{{ quiz.title if quiz else "" }}" />
                    </div>
                </div>
                <div class="row">
                    <div class="columns small-6">
                        <h5>{{ loc.get_text("time_allowed", lan) }} <small>{{ loc.get_text("required", lan) }}</small> </h5>
                    </div>
                    <div class="columns small-6">
                        <label for="time_allowed">
                            <input name="time_allowed" id="time_allowed" type="number" min="0" max="" step="1" value="{{ quiz.time_allowed if quiz else "5" }}" required />
                        </label>
                    </div>
                </div>
                <br/>
                <br/>
                <div class="row">
                    <div class="columns small-12 text-center">
                        <h5>{{ loc.get_text("question", lan) }}s</h5>
                    </div>
                    <br/>
                </div>
                <div class="row">
                    <div class="columns small-12">
                        {% if quiz %}
                            <div class="row">
                                <div class="columns small-4 large-4">
                                    <h6><strong>{{ loc.get_text("question", lan) }}</strong></h6>
                                </div>
                                <div class="columns small-3 large-3">
                                    <h6><strong>{{ loc.get_text("types_of_answer", lan) }}</strong></h6>
                                </div>
                                <div class="columns small-2 large-2">
                                    <h6><strong>{{ loc.get_text("options", lan) }}</strong></h6>
                                </div>
                                <div class="columns small-3 large-3"></div>
                            </div>
                            {% for question in quiz.get_active_questions() %}
                                <div class="row">
                                    <div class="columns small-4 large-4">
                                        <h6>{{ question.question }}</h6>
                                    </div>
                                    <div class="columns small-3 large-3">
                                        <h6>{{ question.type  }}</h6>
                                    </div>
                                    <div class="columns small-2 large-2">
                                        <h6>{{ question.get_total_options()  }}</h6>
                                    </div>
                                    <div class="columns small-3 large-3">
                                        <a class="button small " href="{{ url_for("teacher_edit_quiz_question", key=question.key()) }}">{{ loc.get_text("edit", lan) }}</a>
                                        <a class="button small deleteQuizQuestion" href="{{ url_for("teacher_delete_quiz_question", key=question.key()) }}">{{ loc.get_text("delete", lan) }}</a>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <br/><br/>

                <div class="row">
                    <div class="columns small-12">
                        <h6>{{ loc.get_text("question", lan) }}: </h6>
                        <textarea name="question" placeholder="{{ loc.get_text("question", lan) }}" rows="3" ></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="columns small-12">
                        <h6>{{ loc.get_text("types_of_answer", lan) }} </h6>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 small-centered columns button-group toggle text-center" data-toggle="buttons-radio">
                        <input type="radio" id="r1" name="answer_type" value="yes_no" checked data-toggle="button">
                        <label class="button" for="r1">{{ loc.get_text("yes_no", lan) }}</label>
                        <input type="radio" id="r2" name="answer_type" value="free_text" data-toggle="button">
                        <label class="button" for="r2">{{ loc.get_text("free_text", lan) }}</label>
                        <input type="radio" id="r3" name="answer_type" value="multiple" data-toggle="button">
                        <label class="button" for="r3">{{ loc.get_text("multiple", lan) }}</label>
                        <input type="radio" id="r4" name="answer_type" value="single"  data-toggle="button">
                        <label class="button" for="r4">{{ loc.get_text("single", lan) }}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="columns small-12" id="options">
                        <h5>{{ loc.get_text("options", lan) }}</h5>
                        <input name="option[]" type="text" value="" placeholder="{{ loc.get_text("option", lan) }}" />
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns" id="optionsActions">
                        <a id="addOption" href="#" class="button small">{{ loc.get_text("add", lan) }}</a>
                        <a id="deleteOption" href="#" class="button small float-right">{{ loc.get_text("delete", lan) }}</a>
                    </div>
                </div>
                <div class="row">
                    <div class="columns small-8 text-center small-centered">
                        <button id="create" type="submit" name="submit" value="add" class="submitButton button expanded large" >{{ loc.get_text("add_question", lan) }}</button>
                    </div>
                </div>
                <br/>
                <br/>
                <br/>
                <div class="row">
                    <div class="columns small-12 text-center">
                        <button id="create" type="submit" name="submit" value="save" class="submitButton button expanded large" >{{ loc.get_text("save", lan) if quiz else loc.get_text("create", lan) }}</button>
                    </div>
                </div>
                {% include "class_room_back.html" %}
            </div>
        </div>
    </form>
{% endblock %}
