{% extends "layout.html" %}
{% block title %}{{ loc.get_text("create_classroom", lan) }}{% endblock %}
{% block subnav %} {% include "class_room_nav.html" %} {% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}


{% block content %}
 <div class="row">
     <div class="small-12 large-7 medium-10 columns small-centered text-center">
         <h3 class="info">Quiz Created Successfully</h3>
         <br/>
         <div class="row">
            <div class="callout success">
                <h4>Class Room Access Code: {{ access_code }}</h4>
             </div>
         </div>
         <br/>
         <br/>
         <div class="row">
              {% include "class_room_back.html" %}
         </div>
     </div>
</div>
{% endblock %}
