.callout.alert p{
    font-size: 0.8rem;
}


.header {
    text-align: center;
    background: #00254c;
    background-size: cover;
    position: relative;
    overflow: visible;
    padding-bottom: 4.0rem;
    margin-bottom: 40px;
}
.header .headline {
    color: #ffe;
}

.title-bar {
    background: #00254c;;
    padding: 0.9rem 0.9rem 0;
}

.top-bar {
    background: #00254c; }
.top-bar ul {
    background:  #00254c; }
.top-bar ul li {
    background:  #00254c; }
.top-bar ul li a {
    color: #fff; }

.top-bar .submenu li{
    background:  #fff;
}

.top-bar .submenu li a {
    color: black;
}

.menu-text {
    color: #fff;
}
@media only screen and (max-width: 40em) {
    .menu-text {
        display: none !important;
    }
}

@media only screen and (min-width: 40em) {
    .menu:last-child {
        border-left: 1px solid #4e4e4e;
    }

    .menu:first-child {
        border-left: none;
    }
}

.dropdown.menu>li.opens-left>.is-dropdown-submenu {
    border: 1px solid #eeb211;
}

.dropdown.menu .submenu {
    border: none; }

.dropdown.menu .is-dropdown-submenu-parent.is-right-arrow > a::after {
    border-color: #fff transparent transparent; }

.is-drilldown-submenu-parent > a::after {
    border-color: transparent transparent transparent #fff; }

.js-drilldown-back::before {
    border-color: transparent #fff transparent transparent; }

.is-drilldown{
    height: 200px;
}


#content{
    margin-bottom: 3.0rem;
}

/*.dropdown a{*/
/*color: white;*/
/*}*/

/*.dropdown a:after{*/
/*border-color: white transparent transparent;*/
/*}*/


/*.dropdown .menu a{*/
/*color:  #00254c;*/
/*}*/


#copy{
    left:20px;
}


.identity {
    padding: 5px;
}

.button{
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    background-color: #00254c;
}

.button.identity {
    padding: 15px 32px;
}

.button:hover {
    background-color: #eeb211;
    color: white;
}

.info {
    color:#c59353;
}

.login {
    background-color: #00254c;
    font-size: 20px;
}

.top-corner{
    position:absolute;
    top:0;
    right:0;
}

.headline {
    position: relative;
}

#time_left {
    color: red;
    text-align: left;
    position: relative;
}

.timer-quick{
    position: absolute;
    right: 0;
}

#options, #optionsActions{
    display: none;
}

#options.visible, #optionsActions.visible{
    display: block;
}

.jst-hours {
    float: left;
}
.jst-minutes {
    float: left;
}
.jst-seconds {
    float: left;
}
.jst-clearDiv {
    clear: both;
}
.jst-timeout {
    color: red;
}

input[data-toggle] {
    display: none; }

input[data-toggle]:checked + label,
input[data-toggle]:checked + label:active {
    background-color: #eeb211;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05); }

.button-group.toggle li:not(first-child) {
    margin: 0 -0.9rem; }


.button-group.toggle label{
    width: 24%;
    font-size: 0.7rem;
}

.header-subnav {
    float: none;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    bottom: 0;
    width: 100%;
}
.header-subnav li {
    float: none;
    display: inline-block;
}
.header-subnav li a {
    padding: 0.9rem 1rem;
    font-size: 0.75rem;
    color: #ffe;
    text-transform: uppercase;
    display: block;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.35s ease-in-out;
}
.header-subnav li a.is-active {
    background: rgba(250, 250, 250, 0.15);
}
.header-subnav li a:hover {
    background: rgba(250, 250, 250, 0.15);
    transition: all 0.35s ease-in-out;
}

.question{
    padding: 20px 20px 20px 30px;
    background: #00254c;
    color: white;
}

.question label{
    display: inline;
}

.student_details table th{
    text-align: center;
}


