.header {
    text-align: center;
    background: #00254c;
    background-size: cover;
    position: relative;
    overflow: visible;
    padding-top: 2.5rem;
    padding-bottom: 4.9rem;
    margin-bottom: 40px;
}
.header .headline {
    color: #ffe;
}

.title-bar {
    background: #00254c;;
    padding: 0.9rem 0.9rem 0px;
}

.top-bar {
    background: #00254c; }
.top-bar ul {
    background:  #00254c; }
.top-bar ul li {
    background:  #00254c; }
.top-bar ul li a {
    color: #fff; }

.top-bar .submenu li{
    background:  #fff;
}

.top-bar .submenu li a {
    color: black;
}

.menu-text {
    color: #fff; }
@media only screen and (max-width: 40em) {
    .menu-text {
        display: none !important; } }

@media only screen and (min-width: 40em) {
    .menu:last-child {
        border-left: 1px solid #4e4e4e; }

    .menu:first-child {
        border-left: none; }

    .menu li:not(:last-child) {
        border-right: 1px solid #4e4e4e; } }
.dropdown.menu .submenu {
    border: none; }

.dropdown.menu .is-dropdown-submenu-parent.is-right-arrow > a::after {
    border-color: #fff transparent transparent; }

.is-drilldown-submenu-parent > a::after {
    border-color: transparent transparent transparent #fff; }

.js-drilldown-back::before {
    border-color: transparent #fff transparent transparent; }

.is-drilldown{
    height: 120px;
}


#content{
    margin-bottom: 3.0rem;
}

/*.dropdown a{*/
/*color: white;*/
/*}*/

/*.dropdown a:after{*/
/*border-color: white transparent transparent;*/
/*}*/


/*.dropdown .menu a{*/
/*color:  #00254c;*/
/*}*/


#copy{
    left:20px;
}


.identity {
    padding: 5px;
}

.button{
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    background-color: #00254c;
}

.button.identity {
    padding: 15px 32px;
}

.button:hover {
    background-color: #eeb211;
    color: white;
}

.info {
    color:#c59353;
}

.login {
    background-color: #00254c;
    font-size: 20px;
}

.top-corner{
    position:absolute;
    top:0;
    right:0;
}

.headline {
    position: relative;
    top: 30px;
}

#time_left {
    color: red;
    text-align: right;
}

#options, #optionsActions{
    display: none;
}

.jst-hours {
    float: left;
}
.jst-minutes {
    float: left;
}
.jst-seconds {
    float: left;
}
.jst-clearDiv {
    clear: both;
}
.jst-timeout {
    color: red;
}

input[data-toggle] {
  display: none; }

input[data-toggle]:checked + label,
input[data-toggle]:checked + label:active {
  background-color: #eeb211;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05); }

.button-group.toggle li:not(first-child) {
  margin: 0 -0.9rem; }


.button-group.toggle label{
    width: 24%;
    font-size: 0.7rem;
}